/* Home Page */
#tape1{
    transform:rotate(5deg);
    margin-top:-65px;
    left:40%;
    height:100px;       
}
#tape2{
    transform:rotate(-5deg);
    margin-top:-70px;
    left:45%;
    height:125px;
}
#tape3{
    transform:rotate(7deg);
    margin-top:-75px;
    left:45%;
    height:115px;
}
/* Navigations and Logos */
#topBar{ 
    /* header Welcome section */    
    height:12%;
    max-height:100px;
}
    /* topBar Deco Css */
    #topBar h1{
        line-height:1.75em;
        padding-left:75px;
        padding-right:75px;
        transform: rotate(-0.5deg);
    }
    #topBar #pin1{
        left:-5px;
        top:0px;
    }
    #topBar #pin2{
        right:-5px;
        bottom:0px;
    }    
#leftBar{
    /* Left Navigation and information */
    height:100%;
    width:15%;
    text-align:right;
}
.logo{
    /* border:1px solid black; */
    width:100%;
    height:125px;
}
.leftNav{
    /* Left Navigation and information content */
    margin-top:50px;
    margin-left:auto;
    margin-right:10px;
    padding-right:5px;
    height:250px;
    width:80%;
    min-width:100px;
    transform:rotate(-1deg); 

    font-family:'Open Sans', sans-serif;
    font-size:14px;
    font-weight:bold;
    color:rgba(60,54,50,0.88);
}
.contactInfo {
    /* Left Nav info */
    margin-top:15px;
    word-wrap: break-word;
}

.contactInfo span{
    font-size:13px;
    font-style:italic;
    font-weight:normal;
}
#mainContent section:first-child {
    /* project displays */
    position:relative;
    height:85%;
}
#mainContent section:last-child{
    /* goal displays */
    position:relative;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    height:15%;

    display:flex;
    flex-direction:row;
}
#projectContent {
    /* list of projects */
    margin:0;
    padding:0;
    margin-top:5%;
    position:relative;
    display:flex;
    flex-direction:row;
    width:100%;
    height:75%;
}
#projectContent li{
    /* Individual projects */
    margin:3%;
    width:100%;
}
#GoalSection h3{
    padding:0;
    padding-left:20px;
    padding-right:30px;
    margin:0;  

    background-image:linear-gradient(to bottom,rgba(109, 81, 17, 0.25)0%,rgb(53, 38, 5,0.25)100%),url('Texture/linedpaper/linedpaper.png');
    background-blend-mode:color-burn,normal;
    background-repeat:repeat;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);  

    width:fit-content;
    height:fit-content;
    text-align:center;

    line-height:2em;
    font-family:'Open Sans',sans-serif;
    color:rgba(60,54,50,0.88);
    font-size:30px;
    font-style: italic;
    font-weight: lighter;

}
#GoalSection h3 span{
    padding-left:10px;
    font-family:'Permanent Marker', cursive;
    color:rgba(155, 17, 17,0.80);
    font-size:35px;
}
    /* Goal Section Deco CSS*/
    #GoalSection #tape4{
        height:40px;
        left:-30px;
        top:5px;
        transform: rotate(1.5deg);
    }
    #GoalSection #tape5{
        height:43px;
        right:-30px;
        top:5px;
        transform:rotate(-2deg);
    }    
#current .projectImage{
    background-image:linear-gradient(180deg,rgba(102,102,102,0.5)0%,rgba(26,9,0,1)100%), url('Images/Current.svg');
}
#current .projectImage:hover{
    background-image:linear-gradient(180deg,rgba(102,102,102,0.5)0%,rgba(0,0,0,1)100%), url('Images/Current.svg');
}
#web .projectImage{
    background-image:linear-gradient(180deg,rgba(102,102,102,0.5)0%,rgba(26,9,0,1)100%), url('Images/eggEarth1.svg');
}
#web .projectImage:hover{
    background-image:linear-gradient(180deg,rgba(102,102,102,0.5)0%,rgba(0,0,0,0.25)100%), url('Images/eggEarth1.svg');
}
#other .projectImage{
    background-image:linear-gradient(180deg,rgba(102,102,102,0.5)0%,rgba(26,9,0,1)100%), url('Images/Oni_face2.svg');
}
#other .projectImage:hover{
    background-image:linear-gradient(180deg,rgba(102,102,102,0.5)0%,rgba(0,0,0,0.5)100%), url('Images/Oni_face2.svg');
}
.projectImage {   
    background-blend-mode:normal,color-burn;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}
.projectImage:hover{
    background-blend-mode:overlay,normal;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}

/* Media Queries */
@media only screen and (min-width:1550px) and (min-height:500px){
    #projectContent{
        height:75%;
        margin-bottom:5%;
    }
}
@media only screen and (max-width:1200px){
    #mainContent section:first-child {
        /* Project displays */
        height:fit-content;
    }
    #projectContent{
        margin-top:50px;
        height:100%;
        flex-wrap:wrap;
    }
    #projectContent li{
        margin-top:50px;
        margin-left:auto;
        margin-right:auto;
        width:250px;
        height:300px;
    }
    #GoalSection{
        margin-top:5%;
    }
}

