/* General Structure Template & Template Elements*/
/* Page Structure Elements */
html{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    position:fixed;
    font-family:'Raleway', sans-serif;
    font-weight: lighter;
}
body{
    margin:0;
    padding:0;
    background-image:linear-gradient(to bottom,rgba(255,246,235,0.75)0%,rgba(106,93,66,0.5)100%),url('Texture/dust_scratches/dust_scratches.png');
    background-blend-mode:color-burn,normal;
    background-repeat:repeat;
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
}
ul{
    list-style:none;
}
a:link, a:visited {
    text-decoration: none;
    color:black;
}
    /* Body information contents (id calls)*/
    #generalContent {
        display:flex;
        flex-direction:column;
        position:relative;
        top:0;
        width:100%;
        height:100%;
        overflow-y:scroll;
    }

    #mainContent{
        position:relative;
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        /* z-index:-1; */
    }

    #topBar{
        /* Header Welcome Section */
        padding:0;
        margin:0;
        width:100%;
        text-align:center;
    }
    #leftBar{
        /* Left Navigation and information */
        padding:0;
        margin:0;
        border-right: 20px solid transparent;
        border-image: url('Texture/tileable_wood_texture/tileable_wood_texture.png') 30% repeat;
        
        background-image:linear-gradient(180deg,rgba(255, 255, 255, 0.25)0%,rgba(150,135,104,0.25)100%),url('Texture/cork-board/cork-board.png');
        background-clip:padding-box;
        background-blend-mode:color-burn, normal;
        background-repeat:repeat;
        box-shadow:5px 0px 10px rgba(0, 0, 0, 0.5);
        z-index:10;
    }
    #leftBar section{
        /* LeftBar contents */
        position:relative;
        display:flex;
        flex-direction:column;
    }
    .leftNav{
        position:relative;
        padding:0;
        margin:0; 
        background-image:linear-gradient(170deg,rgba(255, 255, 255,0.75)0%,rgba(116,67,10,0.75)100%),url('Texture/hip-square/hip-square.png');
        background-blend-mode:overlay,normal;
        background-repeat:repeat;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
        display:flex;
        flex-direction:column;   

    }

/* Decor Template Elements (class calls)*/
.pin{
    /* general pin style */
    padding:0;
    position: relative;;
    margin-left:auto;
    margin-right:auto;
    margin-top:-5px;
    background: radial-gradient(circle farthest-side at 50% 25%,rgba(255,103,103,1),rgba(157,0,0,1));
    border-radius:15px 15px 15px 15px;
    border:1px solid #A72A2A;
    height:20px;
    width:20px;
    box-shadow:0px 6px 4px rgba(0, 0, 0, 0.5); 
}

.TapeTemplate{
    border:1px solid rgba(186,186,186,0.65);
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.5),rgba(186,186,186,0.75)),url('Texture/noise_lines/noise_lines.png');
    background-blend-mode:normal,luminosity;
    background-repeat:repeat;
    opacity:0.80;

    width:50px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    box-shadow:0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    z-index:10;

    position:absolute;
}
.logo{
    -webkit-filter:opacity(50%) drop-shadow(2px -2px 1px rgba(43,23,0,1));
    filter:opacity(50%) drop-shadow(2px -2px 1px rgba(43,23,0,1));
}
.projectTemplate{
    /* Photo-like: for individual project */
    position:relative;
    border:20px solid rgba(221, 221, 221,1);
    background-color:rgb(97, 97, 97);
    display:flex;
    flex-direction:column;
    box-shadow:0 5px 2px 1px rgba(0, 0, 0, 0.25);
}
.projectTemplate a{
    /* Newly Added */
    position:relative;
    height:100%;
    display:flex;
    flex-direction:column;
    text-decoration:none;
    color:black;
}
/* .projectImage{
    position:relative;
    max-width:100%;
    max-height:85%;
    height:auto;
    background-image:linear-gradient(180deg,rgba(0,0,0,1)0%,rgba(102,102,102,1)100%);
    background-blend-mode: normal;

    -webkit-filter:opacity(50%);
    filter:opacity(50%) sepia(100%) brightness(50%);
} */
.projectImage{
    position:relative;
    max-width:100%;
    max-height:100%;
    height:100%;
}
.projectImage:hover{
    position:relative;
    max-width:100%;
    max-height:100%;
    height:100%;
}

.projectTemplateDescription{
    position:relative;
    width:100%;
    min-height:50px;
    height:auto;
    background-color:rgba(221,221,221,1);
    text-align:center;

    font-family:'Permanent Marker',cursive;
    font-size:18px;
    color:rgba(60,54,50,0.90);
    line-height:2.75em;
}
#topBar h1{
    background-image:linear-gradient(to bottom,rgba(227,171,44,0.5)0%,rgba(60,41,0,1)100%),url('Texture/hip-square/hip-square.png');
    background-blend-mode:overlay,normal;
    background-repeat:repeat;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);  

    width:fit-content;
    height:max-content;
    margin-left:auto;
    margin-right:auto;

    position:relative;
    display:flex;
    flex-direction:row;

    font-size:35px;
    font-weight:bold;
    color:rgba(60,54,50,0.88);
}
/* Decor specifics */
#topBar #pin1{
    position:absolute;
}
#topBar #pin2{
    position:absolute;
}
