@import '../variables.scss';
@import '../mixins.scss';

.SocialMedia__container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: fit-content;

	@include setChildAbsCenter();
	& > ul {
		@include clearListStyle();
		@include clearLinkStyle();
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-gap: 35px;
		margin-top: 64px;
		font-size: 40px;
		& .fontawesome {
			filter: drop-shadow(1px -1px rgba(0, 0, 0, 0.5));
		}
	}
}
