@import 'variables.scss';

@mixin clearBaseStyle (){
  padding: 0;
  margin: 0;
  border:none;
  color:$body-color;
}

@mixin clearListStyle(){
   @include clearBaseStyle();
   list-style-type: none;
}

@mixin clearLinkStyle(){
  a{
    color:$body-color;
    text-decoration: none;
    &:hover,&:visited{
      color:$body-color
    }
  }
}

@mixin setBaseStyle(){
  width: 100%;
  height: 100%;
}

@mixin setPagePadding(){

}

@mixin setSelfHCenter(){
  margin: 0 auto;
}

@mixin setChildAbsCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
}