//imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,700&display=swap');

$body-color:#533C02;
$inverse-body-color:#FFFEF3;

$background-color-dark:#8DAA5F;
$background-color-light:#D4DBC9;
$socialMedia-background-color:#FFFBD6;

//fonts
$header-fontSize:48px;
$body-fontSize:20px;
$header-font: 'Montserrat', sans-serif;
//font-weight
$bold: 700;
$regular:400;
$light:300;