@import "../mixins.scss";
@import "../variables.scss";

.Page__introduction {
	@include basicBackground();
	&--text {
		@include basicHeaderStyle();
	}
	&--projects {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		@include clearLinkStyle();
		& .PhotoCard {
			margin-top: 56px;
		}
	}
}
